# Puerto en el que se ejecutará el servidor
PORT=3000

# Configuración de WebSocket
WEBSOCKET_PORT=3000

# Configuración de entorno
NODE_ENV=production

# Configuración de CORS (si es necesario)
# CORS_ORIGIN=*
