# Node.js
node_modules/
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
.nyc_output/

# IDEs y editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Otros archivos temporales
*.swp

# No ignores la carpeta public ni votes.json
!public/
!votes.json
